[submodule "themes/Casper2Pelican"]
	path = themes/Casper2Pelican
	url = git@github.com:Hugh-wong/Casper2Pelican.git
[submodule "hugh-wong.github.io"]
	path = hugh-wong.github.io
	url = git@github.com:Hugh-wong/hugh-wong.github.io.git
